body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 10rem 0;
}

#image-grid {
    display: flex;
    flex-direction: column;
    gap: 0.001rem;
}

#note-overlay {
    position: absolute;
    top: auto;
    left: auto;
    width: 45rem;
    height: 45rem;
    background-color: darkgray;
    opacity: 90%;
}

.image-row {
    display: flex;
    gap: 0.001rem;
}

.map-piece {
    display: flex;
    padding: 0px;
    position: relative;
    border: 3px solid black;
}

