body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#image-grid {
    display: flex;
    flex-direction: column;
    margin: 150px;
    gap: 1px;
}

.image-row {
    display: flex;
    gap: 1px;
}

.map-piece {
    display: flex;
    padding: 0px;
    position: relative;
    border: 3px solid black;
}

.overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 13.7rem;
    height: 9.5rem;
    background-color: rebeccapurple;
    opacity: 75%;
}

.blurred1 {
    filter: blur(5px) grayscale(1);
}